<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/main-stlye.css">
</head>
<body class="bg-dark">
    <div class="container-fluid col-md-6 bg-light p-2 mt-5">
        <% for (var i=0; i<data.length; i++) {%>
            <form action="/update" method="POST">
                <div class="form-group">
                    <label for="category_name">Category name:</label>
                    <input type="text" class="form-control" id="category_name" name="category_name" value="<%= data[i].category_name %>" required>
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" id="category_name" name="category_id" value="<%= data[i].category_id %>">
                </div>
                <button type="submit" class="btn btn-success btn-block">Update category</button>
             </form>
            
             <% } %>
    </div>
    
</body>
</html>