body{
    background-color: rgb(216, 233, 233);
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
#scrollable_div{
    height: 350px;
    overflow-y: scroll;
}